In [2]:
import numpy as np
import pandas as pd
import sys
import os
import shutil

<h2>데이터 전처리<h2>

In [61]:
def read_text_files_to_dataframe(folder_path):
    
    latitude = []
    longitude = []
    date = []
    time = []

    # 폴더 내의 모든 텍스트 파일을 읽음
    for filename in os.listdir(folder_path):
        if filename.endswith(".txt"):
            file_path = os.path.join(folder_path, filename)
            
            # 텍스트 파일을 DataFrame에 추가

            with open(file_path, 'r') as file:
                data = file.read()

            data = data.split('\n')[6:-1]
            for i in range(len(data)):
                line = data[i].split(',')
                latitude.append(line[0])
                longitude.append(line[1])
                date.append(line[5])
                time.append(line[6])

    df = pd.DataFrame({"latitude":latitude, "longitude":longitude, "date":date, "time":time})
    df['latitude'] = df['latitude'].astype(float)
    df['longitude'] = df['longitude'].astype(float)
    df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'], format='%Y-%m-%d %H:%M:%S')
    df['datetime'] = df['datetime'].dt.floor('T')
    df = df.drop(['date', 'time'], axis=1)
    df = df.drop_duplicates(['datetime'], ignore_index=True)

    return df

In [62]:
folder_path = "C:\\Users\\sk002\\OneDrive\\바탕 화면\\학교\\Yoodori\\Geolife Trajectories 1.3\\Data\\000\\Trajectory"

dataframe = read_text_files_to_dataframe(folder_path)

dataframe

        latitude   longitude            datetime
0      39.984702  116.318417 2008-10-23 02:53:00
1      39.984586  116.316716 2008-10-23 02:54:00
2      39.984485  116.314426 2008-10-23 02:55:00
3      39.984696  116.312921 2008-10-23 02:56:00
4      39.984656  116.310660 2008-10-23 02:57:00
...          ...         ...                 ...
15118  39.996230  116.326576 2009-07-05 07:41:00
15119  39.999069  116.328971 2009-07-05 07:42:00
15120  39.999975  116.327367 2009-07-05 07:43:00
15121  39.999974  116.327326 2009-07-05 07:44:00
15122  40.000433  116.327209 2009-07-05 07:45:00

[15123 rows x 3 columns]